.main{
    width: 400px;
    height: 80px;
    background-color: aqua;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
}
img{
    margin: 15px;
    height: 50px;
    width: 50px;
}